
html{
  font-size: 62.5%;
}
.fondopagina{
background-color: black;
}

.fondonstb{
  width: 1003px;
  height: 150px;
  margin: 0px 150px 0px 250px;
  padding-top: 25px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.redessociales{
  text-align: right;
  position: relative;
  right: 260px;
  bottom: 1px;
}

.InstagramLogo{
  width: 31px;
  height: 25px;
}

.TwitterLogo{
  width: 22px;
  height: 20px;
}

.Twitchlogo{
  width: 36px;
  height: 22px;
}

.iconosredes{
  list-style-type: none;
  text-decoration: none;
}

.menu{
  background-color: rgb(1, 24, 66);
}

.nombredepaginas{
  list-style-type: none;
  font-size: 15px;
  font-family: Helvetica;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
}

.nombremenu{
  text-decoration: none;
  color:rgb(255, 255, 255);
}

.publicidad1{
  background-color: brown;
  background-image: url("multimedia/.powerade");
}

.powerade{
  height: 800px;
  width: 250px;
  display: flex;
  justify-content: start;
  margin: 0px;
  background-position: center;
  background-size: cover;
}

.contenidoprincipal{
  background-color: rgb(5, 117, 79);
}

.noticias{
  color: rgb(255, 255, 255);
  margin: 0px;
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
}

.festejoargentina{
  height: 200px;
}

.fotofestejoargentina{
  width: 350px;
  height: 200px;
  display: flex;
}

.titulofestejoargentina{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
  margin: 0px;
  bottom:40px
}

.largadaarabia{
  height: 200px;
}

.fotolargadaarabia{
  width: 350px;
  height: 200px;
  display: flex;
}

.titulolargadaarabia{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
  margin: 0px;
  bottom:40px;
}

.festejopumas{
  height: 200px;
}

.fotofestejopumas{
  width: 350px;
  height: 200px;
  display: flex;
}

.titulofestejopumas{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
  margin: 0px;
  bottom: 60px;
}

.entrenamientoseleccion{
  height: 200px;
}

.fotoentrenamientoseleccion{
  width: 350px;
  height: 200px;
  display: flex;
}

.tituloentrenamientoseleccion{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
  margin: 0px;
  bottom:40px;
}

.festejocheco{
  height: 200px;
}

.fotofestejocheco{
  width: 350px;
  height: 200px;
  display: flex;
}

.titulofestejocheco{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
  margin: 0px;
  bottom:40px;
}

.lakers{
  height: 200px;
}

.fotolakers{
  width: 350px;
  height: 200px;
  display: flex;
}

.titulolakers{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
  margin: 0px;
  bottom:40px;
}

.flechaarriba{
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 35px;
  right: 35px;
}

.publicidad2{
  background-color: aquamarine;
  display: flex;
  justify-content: end;
}

.adidas{
  height: 800px;
  width: 250px;
}

.piedepagina{ 
  background-color: rgb(255, 185, 99);
}

.contacto{
  margin-left: 100px;
}

.formulario{
  margin-left: 30px;
}

.paginaprincipal{
display: grid; 
grid-template-columns: 500px 500px 500px; 
grid-template-rows: auto;
grid-template-areas:
"header header header"
"nav nav nav"
"aside main aside"
"footer footer footer"
}

.fondonstb{
  grid-area: header;
}

.menu{
  grid-area: nav;
}

.publicidad1{
  grid-area: aside;
}

.contenidoprincipal{
  grid-area: main;
}

.publicidad2{
  grid-area: aside;
}

.piedepagina{
  grid-area: footer;
}