@media screen and (max-width: 1346px) {
  .fondonstb {
    width: 880px;
    height: auto;
  }
  .paginaprincipal {
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }
  .paginaprincipal .festejoargentina {
    height: 200px;
  }
  .paginaprincipal .festejoargentina .fotofestejoargentina {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .festejoargentina .titulofestejoargentina {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .largadaarabia {
    height: 200px;
  }
  .paginaprincipal .largadaarabia .fotolargadaarabia {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .largadaarabia .titulolargadaarabia {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .festejopumas {
    height: 200px;
  }
  .paginaprincipal .festejopumas .fotofestejopumas {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .festejopumas .titulofestejopumas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 60px;
  }
  .paginaprincipal .entrenamientoseleccion {
    height: 200px;
  }
  .paginaprincipal .entrenamientoseleccion .fotoentrenamientoseleccion {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .entrenamientoseleccion .tituloentrenamientoseleccion {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .festejocheco {
    height: 200px;
  }
  .paginaprincipal .festejocheco .fotofestejocheco {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .festejocheco .titulofestejocheco {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .lakers {
    height: 200px;
  }
  .paginaprincipal .lakers .fotolakers {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .lakers .titulolakers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
}
@media screen and (max-width: 1247px) {
  .fondonstb {
    width: 680px;
    height: auto;
  }
  .paginaprincipal {
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }
}
@media screen and (max-width: 950px) {
  .fondonstb {
    width: 640px;
    height: auto;
  }
  .nombredepaginas {
    font-size: 12px;
  }
  .paginaprincipal {
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }
}
@media screen and (max-width: 880px) {
  .fondonstb {
    width: 600px;
    height: auto;
  }
  .nombredepaginas {
    font-size: 10px;
  }
  .paginaprincipal {
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }
  .paginaprincipal .publicidad1 {
    height: 600px;
    width: 200px;
    background-position: 380px;
  }
  .paginaprincipal .publicidad2 {
    height: 600px;
    width: 200px;
    background-position: 450px;
  }
}
@media screen and (max-width: 780px) {
  .fondonstb {
    width: 600px;
    height: auto;
  }
  .nombredepaginas {
    font-size: 10px;
  }
  .paginaprincipal {
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }
  .paginaprincipal .publicidad1 {
    height: 450px;
    width: 200px;
    background-position: 300px;
  }
  .paginaprincipal .publicidad2 {
    height: 450px;
    width: 200px;
    background-position: 340px;
  }
  .paginaprincipal .noticias {
    color: rgb(255, 255, 255);
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px 60px;
    padding: 10px;
    margin-bottom: 50px;
  }
  .paginaprincipal .noticias .festejoargentina {
    height: 50px;
  }
  .paginaprincipal .noticias .festejoargentina .fotofestejoargentina {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .festejoargentina .titulofestejoargentina {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .largadaarabia {
    height: 50px;
  }
  .paginaprincipal .noticias .largadaarabia .fotolargadaarabia {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .largadaarabia .titulolargadaarabia {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .festejopumas {
    height: 50px;
  }
  .paginaprincipal .noticias .festejopumas .fotofestejopumas {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .festejopumas .titulofestejopumas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 40px;
  }
  .paginaprincipal .noticias .entrenamientoseleccion {
    height: 50px;
  }
  .paginaprincipal .noticias .entrenamientoseleccion .fotoentrenamientoseleccion {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .entrenamientoseleccion .tituloentrenamientoseleccion {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .festejocheco {
    height: 50px;
  }
  .paginaprincipal .noticias .festejocheco .fotofestejocheco {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .festejocheco .titulofestejocheco {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .lakers {
    height: 50px;
  }
  .paginaprincipal .noticias .lakers .fotolakers {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .lakers .titulolakers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .piedepagina {
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: space-evenly;
  }
  .piedepagina .contacto {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-top: 20px;
    margin-left: 10PX;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .piedepagina .mail {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-left: 10px;
    font-size: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: normal;
  }
  .piedepagina .redessocialesfinal {
    text-align: start;
    display: flex;
    position: relative;
    margin-left: 10px;
  }
  .piedepagina .InstagramLogo {
    width: 25px;
    height: 19px;
  }
  .piedepagina .TwitterLogo {
    width: 20px;
    height: 18px;
  }
  .piedepagina .Twitchlogo {
    width: 34px;
    height: 20px;
  }
  .piedepagina .iconosredes {
    list-style-type: none;
    text-decoration: none;
  }
  .piedepagina.nombrevisita {
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areanombre {
    width: 200px;
  }
  .piedepagina .correovisita {
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areacorreo {
    width: 200px;
  }
  .piedepagina .mensajevisita {
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .nombremensaje {
    position: relative;
    bottom: 45px;
  }
  .piedepagina .areamensaje {
    width: 200px;
    height: 50px;
  }
  .piedepagina .formulario {
    display: grid;
    justify-content: space-evenly;
    text-align: end;
    gap: 5px 5px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px) {
  .paginaprincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "main" "footer";
  }
  .paginaprincipal .fondopagina {
    grid-area: header;
  }
  .paginaprincipal .menu {
    grid-area: nav;
  }
  .paginaprincipal .contenidoprincipal {
    grid-area: main;
  }
  .paginaprincipal .piedepagina {
    grid-area: footer;
  }
  .paginaprincipal .publicidad1 {
    display: none;
  }
  .paginaprincipal .publicidad2 {
    display: none;
  }
  .paginaprincipal .fondonstb {
    width: 380px;
    height: auto;
  }
  .paginaprincipal .nombredepaginas {
    font-size: 10px;
  }
  .paginaprincipal .noticias {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    margin: 10px;
  }
  .paginaprincipal .noticias .festejoargentina {
    height: 200px;
  }
  .paginaprincipal .noticias .festejoargentina .fotofestejoargentina {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .festejoargentina .titulofestejoargentina {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .largadaarabia {
    height: 200px;
  }
  .paginaprincipal .noticias .largadaarabia .fotolargadaarabia {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .largadaarabia .titulolargadaarabia {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .festejopumas {
    height: 200px;
  }
  .paginaprincipal .noticias .festejopumas .fotofestejopumas {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .festejopumas .titulofestejopumas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .entrenamientoseleccion {
    height: 200px;
  }
  .paginaprincipal .noticias .entrenamientoseleccion .fotoentrenamientoseleccion {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .entrenamientoseleccion .tituloentrenamientoseleccion {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .festejocheco {
    height: 200px;
  }
  .paginaprincipal .noticias .festejocheco .fotofestejocheco {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .festejocheco .titulofestejocheco {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .lakers {
    height: 200px;
  }
  .paginaprincipal .noticias .lakers .fotolakers {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .lakers .titulolakers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .piedepagina {
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: space-evenly;
  }
  .piedepagina .contacto {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-top: 10px;
    margin-left: 10PX;
    font-size: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .piedepagina .mail {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-left: 10px;
    font-size: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: normal;
  }
  .piedepagina .redessocialesfinal {
    text-align: start;
    display: flex;
    position: relative;
    margin-left: 10px;
  }
  .piedepagina .InstagramLogo {
    width: 20px;
    height: 14px;
  }
  .piedepagina .TwitterLogo {
    width: 17px;
    height: 15px;
  }
  .piedepagina .Twitchlogo {
    width: 30px;
    height: 16px;
  }
  .piedepagina .iconosredes {
    list-style-type: none;
    text-decoration: none;
  }
  .piedepagina .nombrevisita {
    color: black;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areanombre {
    width: 150px;
  }
  .piedepagina .correovisita {
    color: black;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areacorreo {
    width: 150px;
  }
  .piedepagina .mensajevisita {
    color: black;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .nombremensaje {
    position: relative;
    bottom: 30px;
  }
  .piedepagina .areamensaje {
    width: 150px;
    height: 35px;
  }
  .piedepagina .formulario {
    display: grid;
    justify-content: space-evenly;
    text-align: end;
    gap: 5px 5px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .paginaprincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "main" "footer";
  }
  .paginaprincipal .fondopagina {
    grid-area: header;
  }
  .paginaprincipal .menu {
    grid-area: nav;
  }
  .paginaprincipal .contenidoprincipal {
    grid-area: main;
  }
  .paginaprincipal .piedepagina {
    grid-area: footer;
  }
  .paginaprincipal.fondonstb {
    height: 85px;
  }
}

/*# sourceMappingURL=formatopantallas.css.map */
