html {
  font-size: 62.5%;
}

@keyframes saltos {
  0% {
    bottom: 35px;
  }
  25% {
    bottom: 70px;
  }
  50% {
    bottom: 35px;
  }
  75% {
    bottom: 70px;
  }
  100% {
    bottom: 35px;
  }
}
.fondopagina {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.fondonstb {
  width: 1003px;
  height: 150px;
  margin: 5px;
}

.menu {
  background-color: rgb(1, 24, 66);
}
.menu .nombredepaginas {
  list-style-type: none;
  font-size: 15px;
  font-family: Helvetica;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
}
.menu .nombredepaginas :hover {
  color: rgb(99, 99, 99);
}
.menu .nombremenu {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.contenidoprincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenidoprincipal .noticias {
  color: rgb(255, 255, 255);
  margin: 10px;
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px 10px;
}

.contenidonoticias {
  display: flex;
  flex-wrap: wrap;
}
.contenidonoticias .noticias {
  color: rgb(255, 255, 255);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  gap: 10px 10px;
  justify-content: space-evenly;
}

.contenidonotas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenidonotas .noticias {
  color: rgb(255, 255, 255);
  margin: 10px;
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px 10px;
}

.notas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.notas .titulodenotas {
  color: rgb(4, 4, 60);
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
  text-align: start;
  width: 800px;
  margin: 20px;
}
.notas .subtitulodenotas {
  color: rgb(4, 4, 60);
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  align-items: start;
}
.notas .fotodenotas {
  height: auto;
  width: 700px;
  display: flex;
  margin: 10px;
}
.notas .textodenotas {
  color: black;
  display: flex;
  font-weight: normal;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  width: 1000px;
  margin: 5px;
  padding: 0px;
}

.tablas {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
}

.escudo {
  width: 24px;
  height: 24px;
}

.entrenamientoriver {
  height: 250px;
}
.entrenamientoriver .fotoentrenamientoriver {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.entrenamientoriver .tituloentrenamientoriver {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.formacionsub20 {
  height: 250px;
}
.formacionsub20 .fotoformacionsub20 {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.formacionsub20 .tituloformacionsub20 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.entrenamientoindependiente {
  height: 250px;
}
.entrenamientoindependiente .fotoentrenamientoindependiente {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.entrenamientoindependiente .tituloentrenamientoindependiente {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.entrevistainsua {
  height: 250px;
}
.entrevistainsua .fotoentrevistainsua {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.entrevistainsua .tituloentrevistainsua {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.planbarcelona {
  height: 250px;
}
.planbarcelona .fotoplanbarcelona {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.planbarcelona .tituloplanbarcelona {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.leclercmonaco {
  height: 250px;
}
.leclercmonaco .fotoleclercmonaco {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.leclercmonaco .tituloleclercmonaco {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.festejopumas {
  height: 250px;
}
.festejopumas .fotofestejopumas {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.festejopumas .titulofestejopumas {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.bajanadal {
  height: 250px;
}
.bajanadal .fotobajanadal {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.bajanadal .titulobajanadal {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.entrenamientoboca {
  height: 250px;
}
.entrenamientoboca .fotoentrenamientoboca {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.entrenamientoboca .tituloentrenamientoboca {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.indycar {
  height: 250px;
}
.indycar .fotoindycar {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.indycar .tituloindycar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.heat {
  height: 250px;
}
.heat .fotoheat {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.heat .tituloheat {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.lyon {
  height: 250px;
}
.lyon .fotolyon {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.lyon .titulolyon {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.lakers {
  height: 250px;
}
.lakers .fotolakers {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.lakers .titulolakers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.publicidad {
  display: flex;
  justify-content: end;
  position: right;
  height: 800px;
  width: 250px;
}

.piedepagina {
  background-color: rgb(210, 210, 210);
  display: flex;
  justify-content: space-evenly;
}
.piedepagina .contacto {
  color: rgb(0, 0, 0);
  display: flex;
  text-align: start;
  margin-top: 30px;
  margin-left: 10PX;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.piedepagina .mail {
  color: rgb(0, 0, 0);
  display: flex;
  text-align: start;
  margin-left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}
.piedepagina .redessocialesfinal {
  text-align: start;
  display: flex;
  position: relative;
  margin-left: 10px;
}
.piedepagina .InstagramLogo {
  width: 31px;
  height: 25px;
}
.piedepagina .TwitterLogo {
  width: 22px;
  height: 20px;
}
.piedepagina .Twitchlogo {
  width: 36px;
  height: 22px;
}
.piedepagina .iconosredes {
  list-style-type: none;
  text-decoration: none;
}
.piedepagina .nombrevisita {
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.piedepagina .areanombre {
  width: 250px;
}
.piedepagina .correovisita {
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.piedepagina .areacorreo {
  width: 250px;
}
.piedepagina .mensajevisita {
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.piedepagina .nombremensaje {
  position: relative;
  bottom: 90px;
}
.piedepagina .areamensaje {
  width: 250px;
  height: 100px;
}
.piedepagina .botonenviar {
  margin-bottom: 5px;
}
.piedepagina .formulario {
  display: grid;
  justify-content: space-evenly;
  text-align: end;
  gap: 5px 5px;
  margin-top: 30px;
}

.flechaarriba {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-image: linear-gradient(to left, #fe5757, #fdde59);
  border-radius: 100%;
  animation-name: saltos;
  animation-duration: 1s;
  animation-delay: 1s;
}

.paginaprincipal {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  grid-template-areas: "header header header header" "nav nav nav nav" "section section section aside" "footer footer footer footer";
}
.paginaprincipal .fondopagina {
  grid-area: header;
}
.paginaprincipal .menu {
  grid-area: nav;
}
.paginaprincipal .contenidoprincipal {
  grid-area: section;
}
.paginaprincipal .publicidad {
  grid-area: aside;
}
.paginaprincipal .piedepagina {
  grid-area: footer;
}

.paginanoticias {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  grid-template-areas: "header header header header" "nav nav nav nav" "section main main aside" "footer footer footer footer";
}
.paginanoticias .fondopagina {
  grid-area: header;
}
.paginanoticias .menu {
  grid-area: nav;
}
.paginanoticias .tablas {
  grid-area: section;
}
.paginanoticias .contenidonoticias {
  grid-area: main;
}
.paginanoticias .publicidad {
  grid-area: aside;
}
.paginanoticias .piedepagina {
  grid-area: footer;
}

.paginanotas {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  grid-template-areas: "header header header header" "nav nav nav nav" "section section section aside" "footer footer footer footer";
}
.paginanotas .fondopagina {
  grid-area: header;
}
.paginanotas .menu {
  grid-area: nav;
}
.paginanotas .contenidonotas {
  grid-area: section;
}
.paginanotas .publicidad {
  grid-area: aside;
}
.paginanotas .piedepagina {
  grid-area: footer;
}

@media screen and (max-width: 1346px) {
  .fondonstb {
    width: 880px;
    height: auto;
  }
  .paginaprincipal {
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }
  .paginaprincipal .entrenamientoriver {
    height: 200px;
  }
  .paginaprincipal .entrenamientoriver .fotoentrenamientoriver {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .entrenamientoriver .tituloentrenamientoriver {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .leclercmonaco {
    height: 200px;
  }
  .paginaprincipal .leclercmonaco .fotoleclercmonaco {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .leclercmonaco .tituloleclercmonaco {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .festejopumas {
    height: 200px;
  }
  .paginaprincipal .festejopumas .fotofestejopumas {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .festejopumas .titulofestejopumas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 60px;
  }
  .paginaprincipal .bajanadal {
    height: 200px;
  }
  .paginaprincipal .bajanadal .fotobajanadal {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .bajanadal .titulobajanadal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 60px;
  }
  .paginaprincipal .entrenamientoboca {
    height: 200px;
  }
  .paginaprincipal .entrenamientoboca .fotoentrenamientoboca {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .entrenamientoboca .tituloentrenamientoboca {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .indycar {
    height: 200px;
  }
  .paginaprincipal .indycar .fotoindycar {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .indycar .tituloindycar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .heat {
    height: 200px;
  }
  .paginaprincipal .heat .fotoheat {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .heat .tituloheat {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .lyon {
    height: 200px;
  }
  .paginaprincipal .lyon .fotolyon {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .lyon .titulolyon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 60px;
  }
  .paginaprincipal .lakers {
    height: 200px;
  }
  .paginaprincipal .lakers .fotolakers {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .lakers .titulolakers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .fotodenotas {
    height: 300px;
    width: auto;
    display: flex;
    margin: 5px;
  }
}
@media screen and (max-width: 1247px) {
  .fondonstb {
    width: 680px;
    height: auto;
  }
  .paginaprincipal {
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }
}
@media screen and (max-width: 1247px) {
  .fondonstb {
    width: 680px;
    height: auto;
  }
  .paginaprincipal {
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }
  .paginanotas .fondonstb {
    width: 380px;
    height: auto;
  }
  .paginanotas .nombredepaginas {
    font-size: 10px;
  }
  .paginanotas .noticias {
    color: rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 10px;
  }
  .paginanotas .fotodenotas {
    width: 500px;
    height: 300px;
  }
  .paginanotas .textodenotas {
    width: 600px;
    font-size: 14px;
  }
  .paginanotas .titulodenotas {
    width: 600px;
    font-size: 30px;
  }
  .paginanotas .subtitulodenotas {
    font-size: 25px;
  }
}
@media screen and (max-width: 980px) {
  .fondonstb {
    width: 600px;
    height: auto;
  }
  .nombredepaginas {
    font-size: 10px;
  }
  .paginaprincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .paginaprincipal .fondopagina {
    grid-area: header;
  }
  .paginaprincipal .menu {
    grid-area: nav;
  }
  .paginaprincipal .contenidoprincipal {
    grid-area: section;
  }
  .paginaprincipal .piedepagina {
    grid-area: footer;
  }
  .paginaprincipal .publicidad {
    display: none;
  }
  .paginaprincipal .noticias {
    color: rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 10px;
  }
  .paginaprincipal .noticias .entrenamientoriver {
    height: 100px;
  }
  .paginaprincipal .noticias .entrenamientoriver .fotoentrenamientoriver {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .entrenamientoriver .tituloentrenamientoriver {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .leclercmonaco {
    height: 100px;
  }
  .paginaprincipal .noticias .leclercmonaco .fotoleclercmonaco {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .leclercmonaco .tituloleclercmonaco {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .festejopumas {
    height: 100px;
  }
  .paginaprincipal .noticias .festejopumas .fotofestejopumas {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .festejopumas .titulofestejopumas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 40px;
  }
  .paginaprincipal .noticias .bajanadal {
    height: 100px;
  }
  .paginaprincipal .noticias .bajanadal .fotobajanadal {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .bajanadal .titulobajanadal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 40px;
  }
  .paginaprincipal .noticias .entrenamientoboca {
    height: 100px;
  }
  .paginaprincipal .noticias .entrenamientoboca .fotoentrenamientoboca {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .entrenamientoboca .tituloentrenamientoboca {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .indycar {
    height: 100px;
  }
  .paginaprincipal .noticias .indycar .fotoindycar {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .indycar .tituloindycar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .heat {
    height: 100px;
  }
  .paginaprincipal .noticias .heat .fotoheat {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .heat .tituloheat {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .lyon {
    height: 100px;
  }
  .paginaprincipal .noticias .lyon .fotolyon {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .lyon .titulolyon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 40px;
  }
  .paginaprincipal .noticias .lakers {
    height: 100px;
  }
  .paginaprincipal .noticias .lakers .fotolakers {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .lakers .titulolakers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .fotodenotas {
    height: 250px;
    width: auto;
    display: flex;
    margin: 5px;
  }
  .paginanoticias {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header header" "nav nav" "section main" "footer";
  }
  .paginanoticias .fondopagina {
    grid-area: header;
  }
  .paginanoticias .menu {
    grid-area: nav;
  }
  .paginanoticias .contenidoprincipal {
    grid-area: main;
  }
  .paginanoticias.tablas {
    grid-area: section;
  }
  .paginanoticias .piedepagina {
    grid-area: footer;
  }
  .paginanoticias .publicidad {
    display: none;
  }
  .paginanoticias .fondonstb {
    width: 380px;
    height: auto;
  }
  .paginanoticias .nombredepaginas {
    font-size: 10px;
  }
  .paginanoticias .noticias {
    color: rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 10px;
  }
  .paginanoticias .noticias .entrenamientoriver {
    height: 150px;
  }
  .paginanoticias .noticias .entrenamientoriver .fotoentrenamientoriver {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .entrenamientoriver .tituloentrenamientoriver {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .entrenamientoboca {
    height: 150px;
  }
  .paginanoticias .noticias .entrenamientoboca .fotoentrenamientoboca {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .entrenamientoboca .tituloentrenamientoboca {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .formacionsub20 {
    height: 150px;
  }
  .paginanoticias .noticias .formacionsub20 .fotoformacionsub20 {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .formacionsub20 .tituloformacionsub20 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .entrenamientoindependiente {
    height: 150px;
  }
  .paginanoticias .noticias .entrenamientoindependiente .fotoentrenamientoindependiente {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .entrenamientoindependiente .tituloentrenamientoindependiente {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .entrevistainsua {
    height: 150px;
  }
  .paginanoticias .noticias .entrevistainsua .fotoentrevistainsua {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .entrevistainsua .tituloentrevistainsua {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .planbarcelona {
    height: 150px;
  }
  .paginanoticias .noticias .planbarcelona .fotoplanbarcelona {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .planbarcelona .tituloplanbarcelona {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .leclercmonaco {
    height: 150px;
  }
  .paginanoticias .noticias .leclercmonaco .fotoleclercmonaco {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .leclercmonaco .tituloleclercmonaco {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .indycar {
    height: 150px;
  }
  .paginanoticias .noticias .indycar .fotoindycar {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .indycar .tituloindycar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .festejopumas {
    height: 150px;
  }
  .paginanoticias .noticias .festejopumas .fotofestejopumas {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .festejopumas .titulofestejopumas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .lakers {
    height: 150px;
  }
  .paginanoticias .noticias .lakers .fotolakers {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .lakers .titulolakers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .heat {
    height: 150px;
  }
  .paginanoticias .noticias .heat .fotoheat {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .heat .tituloheat {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .bajanadal {
    height: 150px;
  }
  .paginanoticias .noticias .bajanadal .fotobajanadal {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .bajanadal .titulobajanadal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .lyon {
    height: 150px;
  }
  .paginanoticias .noticias .lyon .fotolyon {
    width: 250px;
    height: 150px;
    display: flex;
  }
  .paginanoticias .noticias .lyon .titulolyon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanotas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .paginanotas .fondopagina {
    grid-area: header;
  }
  .paginanotas .menu {
    grid-area: nav;
  }
  .paginanotas .contenidonotas {
    grid-area: section;
  }
  .paginanotas .piedepagina {
    grid-area: footer;
  }
  .paginanotas .publicidad {
    display: none;
  }
  .paginanotas .fondonstb {
    width: 380px;
    height: auto;
  }
  .paginanotas .nombredepaginas {
    font-size: 10px;
  }
  .paginanotas .noticias {
    color: rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 10px;
  }
  .paginanotas .fotodenotas {
    width: 500px;
    height: 300px;
  }
  .paginanotas .textodenotas {
    width: 600px;
    font-size: 14px;
  }
  .paginanotas .titulodenotas {
    width: 600px;
    font-size: 30px;
  }
  .paginanotas .subtitulodenotas {
    font-size: 25px;
  }
  .piedepagina {
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: space-evenly;
  }
  .piedepagina .contacto {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-top: 20px;
    margin-left: 10PX;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .piedepagina .mail {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-left: 10px;
    font-size: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: normal;
  }
  .piedepagina .redessocialesfinal {
    text-align: start;
    display: flex;
    position: relative;
    margin-left: 10px;
  }
  .piedepagina .InstagramLogo {
    width: 25px;
    height: 19px;
  }
  .piedepagina .TwitterLogo {
    width: 20px;
    height: 18px;
  }
  .piedepagina .Twitchlogo {
    width: 34px;
    height: 20px;
  }
  .piedepagina .iconosredes {
    list-style-type: none;
    text-decoration: none;
  }
  .piedepagina.nombrevisita {
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areanombre {
    width: 200px;
  }
  .piedepagina .correovisita {
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areacorreo {
    width: 200px;
  }
  .piedepagina .mensajevisita {
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .nombremensaje {
    position: relative;
    bottom: 45px;
  }
  .piedepagina .areamensaje {
    width: 200px;
    height: 50px;
  }
  .piedepagina .formulario {
    display: grid;
    justify-content: space-evenly;
    text-align: end;
    gap: 5px 5px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px) {
  .paginaprincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .paginaprincipal .fondopagina {
    grid-area: header;
  }
  .paginaprincipal .menu {
    grid-area: nav;
  }
  .paginaprincipal .contenidoprincipal {
    grid-area: section;
  }
  .paginaprincipal .piedepagina {
    grid-area: footer;
  }
  .paginaprincipal .publicidad {
    display: none;
  }
  .paginaprincipal .fondonstb {
    width: 380px;
    height: auto;
  }
  .paginaprincipal .nombredepaginas {
    font-size: 10px;
  }
  .paginaprincipal .noticias {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    margin: 10px;
  }
  .paginaprincipal .noticias .entrenamientoriver {
    height: 200px;
  }
  .paginaprincipal .noticias .entrenamientoriver .fotoentrenamientoriver {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .entrenamientoriver .tituloentrenamientoriver {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .leclercmonaco {
    height: 200px;
  }
  .paginaprincipal .noticias .leclercmonaco .fotoleclercmonaco {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .leclercmonaco .tituloleclercmonaco {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .festejopumas {
    height: 200px;
  }
  .paginaprincipal .noticias .festejopumas .fotofestejopumas {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .festejopumas .titulofestejopumas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .bajanadal {
    height: 200px;
  }
  .paginaprincipal .noticias .bajanadal .fotobajanadal {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .bajanadal .titulobajanadal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .entrenamientoboca {
    height: 200px;
  }
  .paginaprincipal .noticias .entrenamientoboca .fotoentrenamientoboca {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .entrenamientoboca .tituloentrenamientoboca {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .indycar {
    height: 200px;
  }
  .paginaprincipal .noticias .indycar .fotoindycar {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .indycar .tituloindycar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .heat {
    height: 200px;
  }
  .paginaprincipal .noticias .heat .fotoheat {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .heat .tituloheat {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .lyon {
    height: 200px;
  }
  .paginaprincipal .noticias .lyon .fotolyon {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .lyon .titulolyon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .lakers {
    height: 200px;
  }
  .paginaprincipal .noticias .lakers .fotolakers {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .lakers .titulolakers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .fotodenotas {
    height: 180px;
    width: auto;
    display: flex;
    margin: 5px;
  }
  .piedepagina {
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: space-evenly;
  }
  .piedepagina .contacto {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-top: 10px;
    margin-left: 10PX;
    font-size: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .piedepagina .mail {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-left: 10px;
    font-size: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: normal;
  }
  .piedepagina .redessocialesfinal {
    text-align: start;
    display: flex;
    position: relative;
    margin-left: 10px;
  }
  .piedepagina .InstagramLogo {
    width: 20px;
    height: 14px;
  }
  .piedepagina .TwitterLogo {
    width: 17px;
    height: 15px;
  }
  .piedepagina .Twitchlogo {
    width: 30px;
    height: 16px;
  }
  .piedepagina .iconosredes {
    list-style-type: none;
    text-decoration: none;
  }
  .piedepagina .nombrevisita {
    color: black;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areanombre {
    width: 150px;
  }
  .piedepagina .correovisita {
    color: black;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areacorreo {
    width: 150px;
  }
  .piedepagina .mensajevisita {
    color: black;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .nombremensaje {
    position: relative;
    bottom: 30px;
  }
  .piedepagina .areamensaje {
    width: 150px;
    height: 35px;
  }
  .piedepagina .formulario {
    display: grid;
    justify-content: space-evenly;
    text-align: end;
    gap: 5px 5px;
    margin-top: 10px;
  }
  .paginanoticias {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.7fr 0.1fr;
    grid-template-areas: "header" "nav" "main" "section" "footer";
  }
  .paginanoticias .fondopagina {
    grid-area: header;
  }
  .paginanoticias .menu {
    grid-area: nav;
  }
  .paginanoticias .contenidoprincipal {
    grid-area: main;
  }
  .paginanoticias.tablas {
    grid-area: section;
  }
  .paginanoticias .piedepagina {
    grid-area: footer;
  }
  .paginanoticias .publicidad {
    display: none;
  }
  .paginanoticias .fondonstb {
    width: 380px;
    height: auto;
  }
  .paginanoticias .nombredepaginas {
    font-size: 10px;
  }
  .paginanoticias .noticias {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    margin: 10px;
  }
  .paginanoticias .noticias .entrenamientoriver {
    height: 200px;
  }
  .paginanoticias .noticias .entrenamientoriver .fotoentrenamientoriver {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginanoticias .noticias .entrenamientoriver .tituloentrenamientoriver {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .entrenamientoboca {
    height: 200px;
  }
  .paginanoticias .noticias .entrenamientoboca .fotoentrenamientoboca {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginanoticias .noticias .entrenamientoboca .tituloentrenamientoboca {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .formacionsub20 {
    height: 200px;
  }
  .paginanoticias .noticias .formacionsub20 .fotoformacionsub20 {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginanoticias .noticias .formacionsub20 .tituloformacionsub20 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .entrenamientoindependiente {
    height: 200px;
  }
  .paginanoticias .noticias .entrenamientoindependiente .fotoentrenamientoindependiente {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginanoticias .noticias .entrenamientoindependiente .tituloentrenamientoindependiente {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .entrevistainsua {
    height: 200px;
  }
  .paginanoticias .noticias .entrevistainsua .fotoentrevistainsua {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginanoticias .noticias .entrevistainsua .tituloentrevistainsua {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanoticias .noticias .planbarcelona {
    height: 200px;
  }
  .paginanoticias .noticias .planbarcelona .fotoplanbarcelona {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginanoticias .noticias .planbarcelona .tituloplanbarcelona {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginanotas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .paginanotas .fondopagina {
    grid-area: header;
  }
  .paginanotas .menu {
    grid-area: nav;
  }
  .paginanotas .contenidonotas {
    grid-area: section;
  }
  .paginanotas .piedepagina {
    grid-area: footer;
  }
  .paginanotas .publicidad {
    display: none;
  }
  .paginanotas .fondonstb {
    width: 380px;
    height: auto;
  }
  .paginanotas .nombredepaginas {
    font-size: 10px;
  }
  .paginanotas .noticias {
    color: rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 10px;
  }
  .paginanotas .fotodenotas {
    width: 400px;
    height: 250px;
  }
  .paginanotas .textodenotas {
    width: 450px;
    font-size: 12px;
  }
  .paginanotas .titulodenotas {
    width: 350px;
    font-size: 20px;
  }
  .paginanotas .subtitulodenotas {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .paginaprincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .paginaprincipal .fondopagina {
    grid-area: header;
  }
  .paginaprincipal .menu {
    grid-area: nav;
  }
  .paginaprincipal .contenidoprincipal {
    grid-area: section;
  }
  .paginaprincipal .piedepagina {
    grid-area: footer;
  }
  .paginaprincipal.fondonstb {
    height: 85px;
  }
}

/*# sourceMappingURL=styles.css.map */
