html {
  font-size: 62.5%;
}

@keyframes saltos {
  0% {
    bottom: 35px;
  }
  25% {
    bottom: 70px;
  }
  50% {
    bottom: 35px;
  }
  75% {
    bottom: 70px;
  }
  100% {
    bottom: 35px;
  }
}
.fondopagina {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.fondonstb {
  width: 1003px;
  height: 150px;
  margin: 5px;
}

.menu {
  background-color: rgb(1, 24, 66);
}
.menu .nombredepaginas {
  list-style-type: none;
  font-size: 15px;
  font-family: Helvetica;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
}
.menu .nombredepaginas :hover {
  color: rgb(99, 99, 99);
}
.menu .nombremenu {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.contenidoprincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenidoprincipal .noticias {
  color: rgb(255, 255, 255);
  margin: 10px;
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px 10px;
}

.notas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.notas .fotodenotas {
  height: 360px;
  width: auto;
  display: flex;
  margin: 5px;
}
.notas .textodenotas {
  color: black;
  display: flex;
  font-weight: normal;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin: 5px;
}

.festejoargentina {
  height: 250px;
}
.festejoargentina .fotofestejoargentina {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.festejoargentina .titulofestejoargentina {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.largadaarabia {
  height: 250px;
}
.largadaarabia .fotolargadaarabia {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.largadaarabia .titulolargadaarabia {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.festejopumas {
  height: 250px;
}
.festejopumas .fotofestejopumas {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.festejopumas .titulofestejopumas {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.bajanadal {
  height: 250px;
}
.bajanadal .fotobajanadal {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.bajanadal .titulobajanadal {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.entrenamientoseleccion {
  height: 250px;
}
.entrenamientoseleccion .fotoentrenamientoseleccion {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.entrenamientoseleccion .tituloentrenamientoseleccion {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.festejocheco {
  height: 250px;
}
.festejocheco .fotofestejocheco {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.festejocheco .titulofestejocheco {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.lakersstate {
  height: 250px;
}
.lakersstate .fotolakersstate {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.lakersstate .titulolakersstate {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.alcaraz {
  height: 250px;
}
.alcaraz .fotoalcaraz {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.alcaraz .tituloalcaraz {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.lakers {
  height: 250px;
}
.lakers .fotolakers {
  width: 400px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.lakers .titulolakers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: baseline;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.671);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  bottom: 40px;
}

.publicidad {
  display: flex;
  justify-content: end;
  position: right;
  height: 800px;
  width: 250px;
}

.piedepagina {
  background-color: rgb(210, 210, 210);
  display: flex;
  justify-content: space-evenly;
}
.piedepagina .contacto {
  color: rgb(0, 0, 0);
  display: flex;
  text-align: start;
  margin-top: 30px;
  margin-left: 10PX;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.piedepagina .mail {
  color: rgb(0, 0, 0);
  display: flex;
  text-align: start;
  margin-left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}
.piedepagina .redessocialesfinal {
  text-align: start;
  display: flex;
  position: relative;
  margin-left: 10px;
}
.piedepagina .InstagramLogo {
  width: 31px;
  height: 25px;
}
.piedepagina .TwitterLogo {
  width: 22px;
  height: 20px;
}
.piedepagina .Twitchlogo {
  width: 36px;
  height: 22px;
}
.piedepagina .iconosredes {
  list-style-type: none;
  text-decoration: none;
}
.piedepagina .nombrevisita {
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.piedepagina .areanombre {
  width: 250px;
}
.piedepagina .correovisita {
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.piedepagina .areacorreo {
  width: 250px;
}
.piedepagina .mensajevisita {
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.piedepagina .nombremensaje {
  position: relative;
  bottom: 90px;
}
.piedepagina .areamensaje {
  width: 250px;
  height: 100px;
}
.piedepagina .botonenviar {
  margin-bottom: 5px;
}
.piedepagina .formulario {
  display: grid;
  justify-content: space-evenly;
  text-align: end;
  gap: 5px 5px;
  margin-top: 30px;
}

.flechaarriba {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-image: linear-gradient(to left, #fe5757, #fdde59);
  border-radius: 100%;
  animation-name: saltos;
  animation-duration: 1s;
  animation-delay: 1s;
}

.paginaprincipal {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  grid-template-areas: "header header header header" "nav nav nav nav" "section section section aside" "footer footer footer footer";
}
.paginaprincipal .fondopagina {
  grid-area: header;
}
.paginaprincipal .menu {
  grid-area: nav;
}
.paginaprincipal .contenidoprincipal {
  grid-area: section;
}
.paginaprincipal .publicidad {
  grid-area: aside;
}
.paginaprincipal .piedepagina {
  grid-area: footer;
}

@media screen and (max-width: 1346px) {
  .fondonstb {
    width: 880px;
    height: auto;
  }
  .paginaprincipal {
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }
  .paginaprincipal .festejoargentina {
    height: 200px;
  }
  .paginaprincipal .festejoargentina .fotofestejoargentina {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .festejoargentina .titulofestejoargentina {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .largadaarabia {
    height: 200px;
  }
  .paginaprincipal .largadaarabia .fotolargadaarabia {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .largadaarabia .titulolargadaarabia {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .festejopumas {
    height: 200px;
  }
  .paginaprincipal .festejopumas .fotofestejopumas {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .festejopumas .titulofestejopumas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 60px;
  }
  .paginaprincipal .bajanadal {
    height: 200px;
  }
  .paginaprincipal .bajanadal .fotobajanadal {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .bajanadal .titulobajanadal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 60px;
  }
  .paginaprincipal .entrenamientoseleccion {
    height: 200px;
  }
  .paginaprincipal .entrenamientoseleccion .fotoentrenamientoseleccion {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .entrenamientoseleccion .tituloentrenamientoseleccion {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .festejocheco {
    height: 200px;
  }
  .paginaprincipal .festejocheco .fotofestejocheco {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .festejocheco .titulofestejocheco {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .lakersstate {
    height: 200px;
  }
  .paginaprincipal .lakersstate .fotolakersstate {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .lakersstate .titulolakersstate {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .alcaraz {
    height: 200px;
  }
  .paginaprincipal .alcaraz .fotoalcaraz {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .alcaraz .tituloalcaraz {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 60px;
  }
  .paginaprincipal .lakers {
    height: 200px;
  }
  .paginaprincipal .lakers .fotolakers {
    width: 350px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .lakers .titulolakers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .fotodenotas {
    height: 300px;
    width: auto;
    display: flex;
    margin: 5px;
  }
}
@media screen and (max-width: 1247px) {
  .fondonstb {
    width: 680px;
    height: auto;
  }
  .paginaprincipal {
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
  }
}
@media screen and (max-width: 980px) {
  .fondonstb {
    width: 600px;
    height: auto;
  }
  .nombredepaginas {
    font-size: 10px;
  }
  .paginaprincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .paginaprincipal .fondopagina {
    grid-area: header;
  }
  .paginaprincipal .menu {
    grid-area: nav;
  }
  .paginaprincipal .contenidoprincipal {
    grid-area: section;
  }
  .paginaprincipal .piedepagina {
    grid-area: footer;
  }
  .paginaprincipal .publicidad {
    display: none;
  }
  .paginaprincipal .noticias {
    color: rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 10px;
  }
  .paginaprincipal .noticias .festejoargentina {
    height: 100px;
  }
  .paginaprincipal .noticias .festejoargentina .fotofestejoargentina {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .festejoargentina .titulofestejoargentina {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .largadaarabia {
    height: 100px;
  }
  .paginaprincipal .noticias .largadaarabia .fotolargadaarabia {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .largadaarabia .titulolargadaarabia {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .festejopumas {
    height: 100px;
  }
  .paginaprincipal .noticias .festejopumas .fotofestejopumas {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .festejopumas .titulofestejopumas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 40px;
  }
  .paginaprincipal .noticias .bajanadal {
    height: 100px;
  }
  .paginaprincipal .noticias .bajanadal .fotobajanadal {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .bajanadal .titulobajanadal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 40px;
  }
  .paginaprincipal .noticias .entrenamientoseleccion {
    height: 100px;
  }
  .paginaprincipal .noticias .entrenamientoseleccion .fotoentrenamientoseleccion {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .entrenamientoseleccion .tituloentrenamientoseleccion {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .festejocheco {
    height: 100px;
  }
  .paginaprincipal .noticias .festejocheco .fotofestejocheco {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .festejocheco .titulofestejocheco {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .lakersstate {
    height: 100px;
  }
  .paginaprincipal .noticias .lakersstate .fotolakersstate {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .lakersstate .titulolakersstate {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .noticias .alcaraz {
    height: 100px;
  }
  .paginaprincipal .noticias .alcaraz .fotoalcaraz {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .alcaraz .tituloalcaraz {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 40px;
  }
  .paginaprincipal .noticias .lakers {
    height: 100px;
  }
  .paginaprincipal .noticias .lakers .fotolakers {
    width: 200px;
    height: 100px;
    display: flex;
  }
  .paginaprincipal .noticias .lakers .titulolakers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    bottom: 30px;
  }
  .paginaprincipal .fotodenotas {
    height: 250px;
    width: auto;
    display: flex;
    margin: 5px;
  }
  .piedepagina {
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: space-evenly;
  }
  .piedepagina .contacto {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-top: 20px;
    margin-left: 10PX;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .piedepagina .mail {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-left: 10px;
    font-size: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: normal;
  }
  .piedepagina .redessocialesfinal {
    text-align: start;
    display: flex;
    position: relative;
    margin-left: 10px;
  }
  .piedepagina .InstagramLogo {
    width: 25px;
    height: 19px;
  }
  .piedepagina .TwitterLogo {
    width: 20px;
    height: 18px;
  }
  .piedepagina .Twitchlogo {
    width: 34px;
    height: 20px;
  }
  .piedepagina .iconosredes {
    list-style-type: none;
    text-decoration: none;
  }
  .piedepagina.nombrevisita {
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areanombre {
    width: 200px;
  }
  .piedepagina .correovisita {
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areacorreo {
    width: 200px;
  }
  .piedepagina .mensajevisita {
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .nombremensaje {
    position: relative;
    bottom: 45px;
  }
  .piedepagina .areamensaje {
    width: 200px;
    height: 50px;
  }
  .piedepagina .formulario {
    display: grid;
    justify-content: space-evenly;
    text-align: end;
    gap: 5px 5px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px) {
  .paginaprincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .paginaprincipal .fondopagina {
    grid-area: header;
  }
  .paginaprincipal .menu {
    grid-area: nav;
  }
  .paginaprincipal .contenidoprincipal {
    grid-area: section;
  }
  .paginaprincipal .piedepagina {
    grid-area: footer;
  }
  .paginaprincipal .publicidad {
    display: none;
  }
  .paginaprincipal .fondonstb {
    width: 380px;
    height: auto;
  }
  .paginaprincipal .nombredepaginas {
    font-size: 10px;
  }
  .paginaprincipal .noticias {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    margin: 10px;
  }
  .paginaprincipal .noticias .festejoargentina {
    height: 200px;
  }
  .paginaprincipal .noticias .festejoargentina .fotofestejoargentina {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .festejoargentina .titulofestejoargentina {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .largadaarabia {
    height: 200px;
  }
  .paginaprincipal .noticias .largadaarabia .fotolargadaarabia {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .largadaarabia .titulolargadaarabia {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .festejopumas {
    height: 200px;
  }
  .paginaprincipal .noticias .festejopumas .fotofestejopumas {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .festejopumas .titulofestejopumas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .bajanadal {
    height: 200px;
  }
  .paginaprincipal .noticias .bajanadal .fotobajanadal {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .bajanadal .titulobajanadal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .entrenamientoseleccion {
    height: 200px;
  }
  .paginaprincipal .noticias .entrenamientoseleccion .fotoentrenamientoseleccion {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .entrenamientoseleccion .tituloentrenamientoseleccion {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .festejocheco {
    height: 200px;
  }
  .paginaprincipal .noticias .festejocheco .fotofestejocheco {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .festejocheco .titulofestejocheco {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .lakersstate {
    height: 200px;
  }
  .paginaprincipal .noticias .lakersstate .fotolakersstate {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .lakersstate .titulolakersstate {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .alcaraz {
    height: 200px;
  }
  .paginaprincipal .noticias .alcaraz .fotoalcaraz {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .alcaraz .tituloalcaraz {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .noticias .lakers {
    height: 200px;
  }
  .paginaprincipal .noticias .lakers .fotolakers {
    width: 300px;
    height: 200px;
    display: flex;
  }
  .paginaprincipal .noticias .lakers .titulolakers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.671);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
  }
  .paginaprincipal .fotodenotas {
    height: 180px;
    width: auto;
    display: flex;
    margin: 5px;
  }
  .piedepagina {
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: space-evenly;
  }
  .piedepagina .contacto {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-top: 10px;
    margin-left: 10PX;
    font-size: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .piedepagina .mail {
    color: rgb(0, 0, 0);
    display: flex;
    text-align: start;
    margin-left: 10px;
    font-size: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: normal;
  }
  .piedepagina .redessocialesfinal {
    text-align: start;
    display: flex;
    position: relative;
    margin-left: 10px;
  }
  .piedepagina .InstagramLogo {
    width: 20px;
    height: 14px;
  }
  .piedepagina .TwitterLogo {
    width: 17px;
    height: 15px;
  }
  .piedepagina .Twitchlogo {
    width: 30px;
    height: 16px;
  }
  .piedepagina .iconosredes {
    list-style-type: none;
    text-decoration: none;
  }
  .piedepagina .nombrevisita {
    color: black;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areanombre {
    width: 150px;
  }
  .piedepagina .correovisita {
    color: black;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .areacorreo {
    width: 150px;
  }
  .piedepagina .mensajevisita {
    color: black;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .piedepagina .nombremensaje {
    position: relative;
    bottom: 30px;
  }
  .piedepagina .areamensaje {
    width: 150px;
    height: 35px;
  }
  .piedepagina .formulario {
    display: grid;
    justify-content: space-evenly;
    text-align: end;
    gap: 5px 5px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .paginaprincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .paginaprincipal .fondopagina {
    grid-area: header;
  }
  .paginaprincipal .menu {
    grid-area: nav;
  }
  .paginaprincipal .contenidoprincipal {
    grid-area: section;
  }
  .paginaprincipal .piedepagina {
    grid-area: footer;
  }
  .paginaprincipal.fondonstb {
    height: 85px;
  }
}

/*# sourceMappingURL=styles.css.map */
