.contenidoprincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & .noticias{
        color: rgb(255, 255, 255);
        margin: 10px;
        text-decoration: none;
        list-style-type: none;
        font-size: 15px;
        font-weight: bold;
        font-family: arial;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px 10px;
    }
}

.contenidonoticias{
    display: flex;
    flex-wrap: wrap;
    & .noticias{
        color: rgb(255, 255, 255);
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        list-style-type: none;
        font-size: 15px;
        font-weight: bold;
        font-family: arial;
        gap: 10px 10px;
        justify-content: space-evenly;
    }
}

.contenidonotas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & .noticias{
        color: rgb(255, 255, 255);
        margin: 10px;
        text-decoration: none;
        list-style-type: none;
        font-size: 15px;
        font-weight: bold;
        font-family: arial;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px 10px;
    }
}

.notas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & .titulodenotas{
        @include titulonotas;
    }
    & .subtitulodenotas{
        @include subtitulonotas;
    }
    & .fotodenotas{
        @include fotonotas;
    }
    & .textodenotas{
        @include textonotas;
    }
}

.tablas{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px
}

.escudo{
    width: 24px;
    height: 24px;
}

.entrenamientoriver{
    @include espaciofoto;
    & .fotoentrenamientoriver{
        @include tamañofoto;
    }
    & .tituloentrenamientoriver{
        @include titulonoticias;
    }
}

.formacionsub20{
    @include espaciofoto;
    & .fotoformacionsub20{
        @include tamañofoto;
    }
    & .tituloformacionsub20{
        @include titulonoticias;
    }
}

.entrenamientoindependiente{
    @include espaciofoto;
    & .fotoentrenamientoindependiente{
        @include tamañofoto;
    }
    & .tituloentrenamientoindependiente{
        @include titulonoticias;
    }
}

.entrevistainsua{
    @include espaciofoto;
    & .fotoentrevistainsua{
        @include tamañofoto;
    }
    & .tituloentrevistainsua{
        @include titulonoticias;
    }
}

.planbarcelona{
    @include espaciofoto;
    & .fotoplanbarcelona{
        @include tamañofoto;
    }
    & .tituloplanbarcelona{
        @include titulonoticias;
    }
}

.leclercmonaco{
    @include espaciofoto;
    & .fotoleclercmonaco{
        @include tamañofoto;
    }
    & .tituloleclercmonaco{
        @include titulonoticias;
    }
}

.festejopumas{
    @include espaciofoto;
    & .fotofestejopumas{
        @include tamañofoto;
    }
    & .titulofestejopumas{
        @include titulonoticias;
    }
}

.bajanadal{
    @include espaciofoto;
    & .fotobajanadal{
        @include tamañofoto;
    }
    & .titulobajanadal{
        @include titulonoticias;
    }
}

.entrenamientoboca{
    @include espaciofoto;
    & .fotoentrenamientoboca{
        @include tamañofoto;
    }
    & .tituloentrenamientoboca{
        @include titulonoticias;
    }
}

.indycar{
    @include espaciofoto;
    & .fotoindycar{
        @include tamañofoto;
    }
    & .tituloindycar{
        @include titulonoticias;
    }
}

.heat{
    @include espaciofoto;
    & .fotoheat{
        @include tamañofoto;
    }
    & .tituloheat{
        @include titulonoticias;
    }
}

.lyon{
    @include espaciofoto;
    & .fotolyon{
        @include tamañofoto;
    }
    & .titulolyon{
        @include titulonoticias;
    }
}

.lakers{
    @include espaciofoto;
    & .fotolakers{
        @include tamañofoto;
    }
    & .titulolakers{
        @include titulonoticias;
    }
}