.contenidoprincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & .noticias{
        color: rgb(255, 255, 255);
        margin: 10px;
        text-decoration: none;
        list-style-type: none;
        font-size: 15px;
        font-weight: bold;
        font-family: arial;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px 10px;
    }
}

.notas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & .fotodenotas{
        @include fotonotas;
    }
    & .textodenotas{
        @include textonotas;
    }
}

.festejoargentina{
    @include espaciofoto;
    & .fotofestejoargentina{
        @include tamañofoto;
    }
    & .titulofestejoargentina{
        @include titulonotas;
    }
}

.largadaarabia{
    @include espaciofoto;
    & .fotolargadaarabia{
        @include tamañofoto;
    }
    & .titulolargadaarabia{
        @include titulonotas;
    }
}

.festejopumas{
    @include espaciofoto;
    & .fotofestejopumas{
        @include tamañofoto;
    }
    & .titulofestejopumas{
        @include titulonotas;
    }
}

.bajanadal{
    @include espaciofoto;
    & .fotobajanadal{
        @include tamañofoto;
    }
    & .titulobajanadal{
        @include titulonotas;
    }
}

.entrenamientoseleccion{
    @include espaciofoto;
    & .fotoentrenamientoseleccion{
        @include tamañofoto;
    }
    & .tituloentrenamientoseleccion{
        @include titulonotas;
    }
}

.festejocheco{
    @include espaciofoto;
    & .fotofestejocheco{
        @include tamañofoto;
    }
    & .titulofestejocheco{
        @include titulonotas;
    }
}

.lakersstate{
    @include espaciofoto;
    & .fotolakersstate{
        @include tamañofoto;
    }
    & .titulolakersstate{
        @include titulonotas;
    }
}

.alcaraz{
    @include espaciofoto;
    & .fotoalcaraz{
        @include tamañofoto;
    }
    & .tituloalcaraz{
        @include titulonotas;
    }
}

.lakers{
    @include espaciofoto;
    & .fotolakers{
        @include tamañofoto;
    }
    & .titulolakers{
        @include titulonotas;
    }
}