.publicidad1{
    display: flex;
    justify-content: start;
    height: 800px;
    width: 250px;
}
.publicidad2{
    display: flex;
    justify-content: end;
    position: right;
    height: 800px;
    width: 250px;
}