$colorLogo: black;
$colorMenu: rgb(1, 24, 66);
$colorpiedepagina: rgb(210, 210, 210);
$colortitulonotas: rgba(0, 0, 0, 0.671);
$altoimagenmenu: 250px;
$anchoimagenmenu: 400px;
$altoimagennota: auto;
$anchoimagennota: 700px;
@mixin espaciofoto{
    height: 250px;
}
@mixin tamañofoto{
    width: $anchoimagenmenu;
    height: $altoimagenmenu;
    display: flex;
    flex-wrap: wrap;
}
@mixin titulonoticias{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    width: 400px;
    background-color: $colortitulonotas;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; 
    margin: 0px;
    bottom:40px;
}
@mixin fotonotas {
    height: $altoimagennota;
    width: $anchoimagennota;
    display: flex;
    margin: 10px;
}
@mixin textonotas {
    color: black;
    display: flex;
    font-weight: normal;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 1000px;
    margin: 5px;
    padding: 0px;
}
@mixin titulonotas {
    color: rgb(4, 4, 60);
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    text-align: start;
    width: 800px;
    margin: 20px;
}
@mixin subtitulonotas {
    color: rgb(4,4,60);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    align-items: start;
}

@keyframes saltos{
    0% {
        bottom: 35px;
    }
    25% {
        bottom: 70px;
    }
    50% {
        bottom: 35px;
    }
    75% {bottom: 70px;
    }
    100% {bottom: 35px;
    }
}