$colorLogo: black;
$colorMenu: rgb(1, 24, 66);
$colorpiedepagina: rgb(210, 210, 210);
$colortitulonotas: rgba(0, 0, 0, 0.671);
$altoimagenmenu: 250px;
$anchoimagenmenu: 400px;
$altoimagennota: 300px;
$anchoimagennota: auto;



