@media screen and (max-width:1346px) {
    .fondonstb{
        width: 880px;
        height: auto;
    }
    .paginaprincipal{
        grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
        & .entrenamientoriver{
            height: 200px;
            & .fotoentrenamientoriver{
                width: 350px;
                height: 200px;
                display: flex;
            }
            & .tituloentrenamientoriver{
                position:relative;
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                align-items: baseline;
                width: 350px;
                background-color: rgba(0, 0, 0, 0.671);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; 
                margin: 0px;
            }
        }
        & .leclercmonaco{
            height: 200px;
            & .fotoleclercmonaco{
                width: 350px;
                height: 200px;
                display: flex;
            }
            & .tituloleclercmonaco{
                position:relative;
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                align-items: baseline;
                width: 350px;
                background-color: rgba(0, 0, 0, 0.671);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; 
                margin: 0px;
            }
        }
        & .festejopumas{
            height: 200px;
            & .fotofestejopumas{
                width: 350px;
                height: 200px;
                display: flex;
            }
            & .titulofestejopumas{
                position:relative;
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                align-items: baseline;
                width: 350px;
                background-color: rgba(0, 0, 0, 0.671);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; 
                margin: 0px;
                bottom: 60px;
            }
        }
        & .bajanadal{
            height: 200px;
            & .fotobajanadal{
                width: 350px;
                height: 200px;
                display: flex;
            }
            & .titulobajanadal{
                position:relative;
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                align-items: baseline;
                width: 350px;
                background-color: rgba(0, 0, 0, 0.671);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; 
                margin: 0px;
                bottom: 60px;
            }
        }
        & .entrenamientoboca{
            height: 200px;
            & .fotoentrenamientoboca{
                width: 350px;
                height: 200px;
                display: flex;
            }
            & .tituloentrenamientoboca{
                position:relative;
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                align-items: baseline;
                width: 350px;
                background-color: rgba(0, 0, 0, 0.671);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; 
                margin: 0px;
            }
        }
        & .indycar{
            height: 200px;
            & .fotoindycar{
                width: 350px;
                height: 200px;
                display: flex;
            }
            & .tituloindycar{
                position:relative;
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                align-items: baseline;
                width: 350px;
                background-color: rgba(0, 0, 0, 0.671);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; 
                margin: 0px;
            }
        }
        & .heat{
            height: 200px;
            & .fotoheat{
                width: 350px;
                height: 200px;
                display: flex;
            }
            & .tituloheat{
                position:relative;
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                align-items: baseline;
                width: 350px;
                background-color: rgba(0, 0, 0, 0.671);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; 
                margin: 0px;
            }
        }
        & .lyon{
            height: 200px;
            & .fotolyon{
                width: 350px;
                height: 200px;
                display: flex;
            }
            & .titulolyon{
                position:relative;
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                align-items: baseline;
                width: 350px;
                background-color: rgba(0, 0, 0, 0.671);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; 
                margin: 0px;
                bottom: 60px;
            }
        }
        & .lakers{
            height: 200px;
            & .fotolakers{
                width: 350px;
                height: 200px;
                display: flex;
            }
            & .titulolakers{
                position:relative;
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                align-items: baseline;
                width: 350px;
                background-color: rgba(0, 0, 0, 0.671);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; 
                margin: 0px;
            }
        }
        & .fotodenotas{
            height: 300px;
            width: auto;
            display: flex;
            margin: 5px;
        }
    }
}

@media screen and (max-width:1247px) {
    .fondonstb{
        width: 680px;
        height: auto;
    }
    .paginaprincipal{
        grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    }
}


@media screen and (max-width:1247px) {
    .fondonstb{
        width: 680px;
        height: auto;
    }
    .paginaprincipal{
        grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    }
    .paginanotas{
        & .fondonstb{
            width: 380px;
            height: auto;
        }
        & .nombredepaginas{
            font-size: 10px;
        }
        & .noticias{
            color: rgb(255, 255, 255);
            margin: 10px;
            text-decoration: none;
            list-style-type: none;
            font-size: 10px;
            font-weight: bold;
            font-family: arial;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 10px 10px;
        }
        .fotodenotas{
            width: 500px;
            height: 300px;
        }
        .textodenotas{
            width: 600px;
            font-size: 14px;
        }
        .titulodenotas{
            width: 600px;
            font-size: 30px;
        }
        .subtitulodenotas{
            font-size: 25px;
        }
    }
}

@media screen and (max-width:980px) {
    .fondonstb{
        width: 600px;
        height: auto;
    }
    .nombredepaginas{
        font-size: 10px;
    }
    .paginaprincipal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
        grid-template-areas: 
        "header"
        "nav"
        "section"
        "footer";
        & .fondopagina{
            grid-area: header;
        }
        & .menu{
            grid-area: nav;
        }
        & .contenidoprincipal{
            grid-area: section;
        }
        & .piedepagina{
            grid-area: footer;
        }
        & .publicidad{
            display: none;
        }
        & .noticias{
            color: rgb(255, 255, 255);
            margin: 10px;
            text-decoration: none;
            list-style-type: none;
            font-size: 10px;
            font-weight: bold;
            font-family: arial;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 10px 10px;
            & .entrenamientoriver{
                height: 100px;
                & .fotoentrenamientoriver{
                    width: 200px;
                    height: 100px;
                    display: flex;
                }
                & .tituloentrenamientoriver{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 200px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                    bottom:30px
                }
            }
            & .leclercmonaco{
                height: 100px;
                & .fotoleclercmonaco{
                    width: 200px;
                    height: 100px;
                    display: flex;
                }
                & .tituloleclercmonaco{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 200px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                    bottom:30px;
                }
            }
            & .festejopumas{
                height: 100px;
                & .fotofestejopumas{
                    width: 200px;
                    height: 100px;
                    display: flex;
                }
                & .titulofestejopumas{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 200px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                    bottom: 40px;
                }
            }
            & .bajanadal{
                height: 100px;
                & .fotobajanadal{
                    width: 200px;
                    height: 100px;
                    display: flex;
                }
                & .titulobajanadal{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 200px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                    bottom:40px
                }
            }
            & .entrenamientoboca{
                height: 100px;
                & .fotoentrenamientoboca{
                    width: 200px;
                    height: 100px;
                    display: flex;
                }
                & .tituloentrenamientoboca{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 200px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                    bottom:30px;
                }
            }
            & .indycar{
                height: 100px;
                & .fotoindycar{
                    width: 200px;
                    height: 100px;
                    display: flex;
                }
                & .tituloindycar{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 200px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                    bottom:30px;
                }
            }
            & .heat{
                height: 100px;
                & .fotoheat{
                    width: 200px;
                    height: 100px;
                    display: flex;
                }
                & .tituloheat{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 200px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                    bottom:30px;
                }
            }
            & .lyon{
                height: 100px;
                & .fotolyon{
                    width: 200px;
                    height: 100px;
                    display: flex;
                }
                & .titulolyon{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 200px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                    bottom:40px
                }
            }
            & .lakers{
                height: 100px;
                & .fotolakers{
                    width: 200px;
                    height: 100px;
                    display: flex;
                }
                & .titulolakers{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 200px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                    bottom:30px;
                }
            }
        }
        & .fotodenotas{
            height: 250px;
            width: auto;
            display: flex;
            margin: 5px;
        }
        
    }
    .paginanoticias{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
        grid-template-areas: 
        "header header"
        "nav nav"
        "section main"
        "footer";
        & .fondopagina{
            grid-area: header;
        }
        & .menu{
            grid-area: nav;
        }
        & .contenidoprincipal{
            grid-area: main;
        }
        &.tablas{
            grid-area: section;
        }
        & .piedepagina{
            grid-area: footer;
        }
        & .publicidad{
            display: none;
        }
        & .fondonstb{
            width: 380px;
            height: auto;
        }
        & .nombredepaginas{
            font-size: 10px;
        }
        & .noticias{
            color: rgb(255, 255, 255);
            margin: 10px;
            text-decoration: none;
            list-style-type: none;
            font-size: 10px;
            font-weight: bold;
            font-family: arial;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 10px 10px;
            & .entrenamientoriver{
                height: 150px;
                & .fotoentrenamientoriver{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .tituloentrenamientoriver{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .entrenamientoboca{
                height: 150px;
                & .fotoentrenamientoboca{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .tituloentrenamientoboca{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .formacionsub20{
                height: 150px;
                & .fotoformacionsub20{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .tituloformacionsub20{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .entrenamientoindependiente{
                height: 150px;
                & .fotoentrenamientoindependiente{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .tituloentrenamientoindependiente{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .entrevistainsua{
                height: 150px;
                & .fotoentrevistainsua{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .tituloentrevistainsua{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .planbarcelona{
                height: 150px;
                & .fotoplanbarcelona{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .tituloplanbarcelona{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .leclercmonaco{
                height: 150px;
                & .fotoleclercmonaco{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .tituloleclercmonaco{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .indycar{
                height: 150px;
                & .fotoindycar{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .tituloindycar{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .festejopumas{
                height: 150px;
                & .fotofestejopumas{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .titulofestejopumas{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .lakers{
                height: 150px;
                & .fotolakers{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .titulolakers{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .heat{
                height: 150px;
                & .fotoheat{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .tituloheat{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .bajanadal{
                height: 150px;
                & .fotobajanadal{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .titulobajanadal{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .lyon{
                height: 150px;
                & .fotolyon{
                    width: 250px;
                    height: 150px;
                    display: flex;
                }
                & .titulolyon{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
    }
    
}
.paginanotas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "footer";
    & .fondopagina{
        grid-area: header;
    }
    & .menu{
        grid-area: nav;
    }
    & .contenidonotas{
        grid-area: section;
    }
    & .piedepagina{
        grid-area: footer;
    }
    & .publicidad{
        display: none;
    }
    & .fondonstb{
        width: 380px;
        height: auto;
    }
    & .nombredepaginas{
        font-size: 10px;
    }
    & .noticias{
        color: rgb(255, 255, 255);
        margin: 10px;
        text-decoration: none;
        list-style-type: none;
        font-size: 10px;
        font-weight: bold;
        font-family: arial;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px 10px;
    }
    .fotodenotas{
        width: 500px;
        height: 300px;
    }
    .textodenotas{
        width: 600px;
        font-size: 14px;
    }
    .titulodenotas{
        width: 600px;
        font-size: 30px;
    }
    .subtitulodenotas{
        font-size: 25px;
    }
}
    .piedepagina{ 
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: space-evenly;
        & .contacto{
            color: rgb(0, 0, 0);
            display: flex;
            text-align: start;
            margin-top: 20px;
            margin-left: 10PX;
            font-size: 15px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        & .mail{
            color: rgb(0, 0, 0);
            display: flex;
            text-align: start;
            margin-left: 10px;
            font-size: 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight:normal;
        }
        & .redessocialesfinal{
            text-align: start;
            display: flex;
            position: relative;
            margin-left: 10px;
        }
        & .InstagramLogo{
            width: 25px;
            height: 19px;
        }
        & .TwitterLogo{
            width: 20px;
            height: 18px;
        }
        & .Twitchlogo{
            width: 34px;
            height: 20px;
        }
        & .iconosredes{
            list-style-type: none;
            text-decoration: none;
        }
        &.nombrevisita{
            color: black;
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        & .areanombre{
            width: 200px;
        }
        & .correovisita{
            color:black;
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        & .areacorreo{
            width: 200px;
        }
        & .mensajevisita{
            color: black;
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        & .nombremensaje{
            position: relative;
            bottom: 45px;
        }
        & .areamensaje{
            width: 200px;
            height: 50px;
        }
        & .formulario{
            display: grid;
            justify-content: space-evenly;
            text-align: end;
            gap: 5px 5px;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width:650px) {
    .paginaprincipal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
        grid-template-areas: 
        "header"
        "nav"
        "section"
        "footer";
        & .fondopagina{
            grid-area: header;
        }
        & .menu{
            grid-area: nav;
        }
        & .contenidoprincipal{
            grid-area: section;
        }
        & .piedepagina{
            grid-area: footer;
        }
        & .publicidad{
            display: none;
        }
        & .fondonstb{
            width: 380px;
            height: auto;
        }
        & .nombredepaginas{
            font-size: 10px;
        }
        & .noticias{
            color: rgb(255, 255, 255);
            text-decoration: none;
            list-style-type: none;
            font-size: 10px;
            font-weight: bold;
            font-family: arial;
            display: flex;
            flex-wrap: wrap;
            gap: 10px 10px;
            margin:10px;
            & .entrenamientoriver{
                height: 200px;
                & .fotoentrenamientoriver{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloentrenamientoriver{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .leclercmonaco{
                height: 200px;
                & .fotoleclercmonaco{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloleclercmonaco{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .festejopumas{
                height: 200px;
                & .fotofestejopumas{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .titulofestejopumas{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .bajanadal{
                height: 200px;
                & .fotobajanadal{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .titulobajanadal{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .entrenamientoboca{
                height: 200px;
                & .fotoentrenamientoboca{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloentrenamientoboca{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .indycar{
                height: 200px;
                & .fotoindycar{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloindycar{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .heat{
                height: 200px;
                & .fotoheat{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloheat{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .lyon{
                height: 200px;
                & .fotolyon{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .titulolyon{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .lakers{
                height: 200px;
                & .fotolakers{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .titulolakers{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
        }
        & .fotodenotas{
            height: 180px;
            width: auto;
            display: flex;
            margin: 5px;
        }
    }
    .piedepagina{ 
        background-color: rgb(210, 210, 210);
        display: flex;
        justify-content: space-evenly;
        & .contacto{
            color: rgb(0, 0, 0);
            display: flex;
            text-align: start;
            margin-top: 10px;
            margin-left: 10PX;
            font-size: 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        & .mail{
            color: rgb(0, 0, 0);
            display: flex;
            text-align: start;
            margin-left: 10px;
            font-size: 8px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight:normal;
        }
        & .redessocialesfinal{
            text-align: start;
            display: flex;
            position: relative;
            margin-left: 10px;
        }
        & .InstagramLogo{
            width: 20px;
            height: 14px;
        }
        & .TwitterLogo{
            width: 17px;
            height: 15px;
        }
        & .Twitchlogo{
            width: 30px;
            height: 16px;
        }
        & .iconosredes{
            list-style-type: none;
            text-decoration: none;
        }
        & .nombrevisita{
            color: black;
            font-size: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        & .areanombre{
            width: 150px;
        }
        & .correovisita{
            color:black;
            font-size: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        & .areacorreo{
            width: 150px;
        }
        & .mensajevisita{
            color: black;
            font-size: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        & .nombremensaje{
            position: relative;
            bottom: 30px;
        }
        & .areamensaje{
            width: 150px;
            height: 35px;
        }
        & .formulario{
            display: grid;
            justify-content: space-evenly;
            text-align: end;
            gap: 5px 5px;
            margin-top: 10px;
        }
    }
    .paginanoticias{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.01fr 1fr 0.7fr 0.1fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "section"
        "footer";
        & .fondopagina{
            grid-area: header;
        }
        & .menu{
            grid-area: nav;
        }
        & .contenidoprincipal{
            grid-area: main;
        }
        &.tablas{
            grid-area: section;
        }
        & .piedepagina{
            grid-area: footer;
        }
        & .publicidad{
            display: none;
        }
        & .fondonstb{
            width: 380px;
            height: auto;
        }
        & .nombredepaginas{
            font-size: 10px;
        }
        & .noticias{
            color: rgb(255, 255, 255);
            text-decoration: none;
            list-style-type: none;
            font-size: 10px;
            font-weight: bold;
            font-family: arial;
            display: flex;
            flex-wrap: wrap;
            gap: 10px 10px;
            margin:10px;
            & .entrenamientoriver{
                height: 200px;
                & .fotoentrenamientoriver{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloentrenamientoriver{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .entrenamientoboca{
                height: 200px;
                & .fotoentrenamientoboca{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloentrenamientoboca{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .formacionsub20{
                height: 200px;
                & .fotoformacionsub20{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloformacionsub20{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .entrenamientoindependiente{
                height: 200px;
                & .fotoentrenamientoindependiente{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloentrenamientoindependiente{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .entrevistainsua{
                height: 200px;
                & .fotoentrevistainsua{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloentrevistainsua{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
            & .planbarcelona{
                height: 200px;
                & .fotoplanbarcelona{
                    width: 300px;
                    height: 200px;
                    display: flex;
                }
                & .tituloplanbarcelona{
                    position:relative;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: start;
                    align-items: baseline;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 0.671);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px; 
                    margin: 0px;
                }
            }
    }
}
.paginanotas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "footer";
    & .fondopagina{
        grid-area: header;
    }
    & .menu{
        grid-area: nav;
    }
    & .contenidonotas{
        grid-area: section;
    }
    & .piedepagina{
        grid-area: footer;
    }
    & .publicidad{
        display: none;
    }
    & .fondonstb{
        width: 380px;
        height: auto;
    }
    & .nombredepaginas{
        font-size: 10px;
    }
    & .noticias{
        color: rgb(255, 255, 255);
        margin: 10px;
        text-decoration: none;
        list-style-type: none;
        font-size: 10px;
        font-weight: bold;
        font-family: arial;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px 10px;
    }
    .fotodenotas{
        width: 400px;
        height: 250px;
    }
    .textodenotas{
        width: 450px;
        font-size: 12px;
    }
    .titulodenotas{
        width: 350px;
        font-size: 20px;
    }
    .subtitulodenotas{
        font-size: 15px;
    }
}
}

@media screen and (max-width:500px){
    .paginaprincipal{
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.1fr 0.01fr 1fr 0.1fr;
        grid-template-areas:
        "header"
        "nav"
        "section"
        "footer";
        & .fondopagina{
            grid-area: header;
        }
        & .menu{
            grid-area: nav;
        }
        & .contenidoprincipal{
            grid-area: section;
        }
        & .piedepagina{
            grid-area: footer;
        }
        &.fondonstb{
            height: 85px;
        }
    }
}
